<!-- Section -->
<section class="page-section bg-dark-lighter bg-dark-alfa-70" [style.backgroundImage]="'url('+ backgroundURL +')'">
    <div class="container relative">
        
        <div class="row alt-features-grid font-alt">
            
            <!-- Features Item -->
            <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.1s">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon white">
                        <span class="icon-grid"></span>
                    </div>
                    <h3 class="alt-features-title">Pixel Perfect</h3>
                </div>
            </div>
            <!-- End Features Item -->
            
            <!-- Features Item -->
            <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.2s">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon white">
                        <span class="icon-document"></span>
                    </div>
                    <h3 class="alt-features-title">Code well documented</h3>
                </div>
            </div>
            <!-- End Features Item -->
            
            <!-- Features Item -->
            <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.3s">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon white">
                        <span class="icon-flag"></span>
                    </div>
                    <h3 class="alt-features-title">19 years of experience</h3>
                </div>
            </div>
            <!-- End Features Item -->
            
        </div>
                    
    </div>
</section>
<!-- End Section -->