<!-- Education Section -->
<section class="page-section" id="education">
    <div class="container relative">
        <div class="row">
            
            <!-- Section Title -->
            <div class="col-sm-3">
                <h2 class="section-title font-alt align-left mt-0 mb-70 mb-sm-40">Education</h2>
            </div>
            <!-- End Section Title -->
            
            <!-- Section Content -->
            <div class="col-sm-9">
                <div class="section-text">
                    <div class="row">
                        
                        <div class="col-md-6">
                            
                            <div class="row">
                                <div class="col-md-3 black">1998</div>
                                <div class="col-md-9">
                                    <h4 class="mt-0 mb-0">Systems Enginnering</h4>
                                    U.A.N.L. - MTY NL MX
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="col-md-6">
                            
                            <div class="row">
                                <div class="col-md-3 black">2005</div>
                                <div class="col-md-9">
                                    <h4 class="mt-0 mb-0">Graphic Design and Strategic Marketing</h4>
                                    CEDIM - MTY NL MX
                                </div>
                            </div>
                            
                       </div>
                        
                    </div>
                </div>
            </div>
            <!-- End Section Content -->
            
        </div>
    </div>
</section>
<!-- End Education Section -->