<!-- Expirience Section -->
<section class="page-section" id="expirience">
    <div class="container relative">
        <div class="row">
            
            <!-- Section Title -->
            <div class="col-sm-3">
                <h2 class="section-title font-alt align-left mt-0 mb-70 mb-sm-40">Expirience</h2>
            </div>
            <!-- End Section Title -->
            
            <!-- Section Content -->
            <div class="col-sm-9">
                <div class="section-text">
                    <div class="experience-list" *ngFor="let exp of experience;">
                        <div class="row">
                            <div class="col-md-2 time-lapse">{{ exp.date_end }}<br/>{{ exp.date_start }}</div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>{{ exp.company }}</strong><br/>
                                        <small>{{ exp.type_job }}</small>
                                    </div>
                                    <div class="col-md-6">
                                        <strong>{{ exp.location }}</strong>
                                    </div>
                                </div>
                                <h4 class="mt-0 mb-0">{{ exp.position }}</h4>
                                {{ exp.description }}

                                <div class="tasks">
                                    <ul>
                                        <li *ngFor="let task of exp.tasks; let i = index;">{{ task }}</li>
                                    </ul>
                                </div>
                                <div class="tools">
                                    <strong>Tools: </strong> {{ exp.tools }}
                                </div>
                            </div>
                        </div>

                        <hr>
                    </div>
                    
                </div>
            </div>
            <!-- End Section Content -->
            
        </div>
    </div>
</section>
<!-- End Expirience Section -->