<!-- Home Section -->
<section class="page-section bg-dark bg-dark-alfa-70" [style.backgroundImage]="'url('+ backgroundURL +')'" id="home">
    <div class="relative container">

        
        <!-- Hero Content -->
        <div class="home-content">
            <div class="home-text">
                <div class="row mt-60 mt-xs-20">
                    
                    <div class="col-sm-6 col-lg-5 align-center pt-20 pt-lg-0 mb-xs-30">
                        <div class="hs-line-4 font-alt mb-20">Fidel Hernandez</div>
                        <h1 class="hs-line-15 font-alt mb-40 mb-xs-20">Front-end Dev</h1>
                        <div class="section-text white mb-70 mb-xs-40 text-justify">
                            <p>
                                <span class="dropcap font-alt">M</span>y name is Fidel Hdz and I born in Monterrey, NL, MX. l'm 45 yo and I love to learn new things and play music.
                            </p>
                            <p>
                                I'm a systems engineer, branding consultant, illustrator, graphic designer, UI/UX designer with more than 19 years of experience and I developed with PHP, HTML, CSS, SASS, ActionScript, JavaScript, jQuery, Angular, TypeScript and ReactJS (this is part of my new skills).
                            </p>
                            <hr class="white mb-30">
                            <div>
                                <h4 class="font-alt mt-0 mb-20">Profile</h4>
                                <div>
                                    <strong>Age:</strong>
                                    {{ age }} yo
                                </div>
                                <div>
                                    <strong>Location:</strong>
                                    {{ location }}
                                </div>
                                <div>
                                    <strong>Phone:</strong>
                                    {{ phone }}
                                </div>
                                <div>
                                    <strong>Email: </strong>
                                    <a href="mailto:{{ email }}">{{ email }}</a>
                                </div>
                                <div>
                                    <strong>Status:</strong>
                                    {{ status }}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-offset-1">
                        <img src="../../../assets/images/MyLogo.png" alt=""/>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- End Hero Content -->
        
    </div>
</section>
<!-- End Home Section -->