<app-navigation-panel></app-navigation-panel>
<main id="main">
    <app-home-section></app-home-section>
    <app-skills></app-skills>
    
    <!-- Divider -->
    <hr class="mt-0 mb-0 "/>
    <!-- End Divider -->
    
    <app-experience></app-experience>
    <app-higlights></app-higlights>
    <app-education></app-education>

    <!-- Divider -->
    <hr class="mt-0 mb-0 "/>
    <!-- End Divider -->

    <app-portfolio></app-portfolio>

    <!-- Divider -->
    <hr class="mt-0 mb-0 "/>
    <!-- End Divider -->

    <app-contact></app-contact>
</main>

<app-footer></app-footer>
