<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container relative">
        
        <div class="row">
            
            <div class="col-sm-3">
                <h2 class="section-title font-alt align-left mt-0 mb-70 mb-sm-40">{{ title }}</h2>
            </div>
            
            <div class="col-sm-9">
                
                <div class="section-text mb-70 mb-xs-40">
                    Curabitur eu adipiscing lacus, a iaculis diam. Nullam placerat blandit auctor. Nulla accumsan ipsum et nibh rhoncus, eget tempus sapien ultricies. Donec mollis lorem vehicula.
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <!-- Phone -->
                        <div class="contact-item mb-30">
                            <div class="ci-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Phone
                            </div>
                            <div class="ci-text">
                                +52 81 1050 3399
                            </div>
                        </div>
                        <!-- End Phone -->
                    </div>
                    <div class="col-sm-4">
                        <!-- Address -->
                        <div class="contact-item mb-30">
                            <div class="ci-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Location
                            </div>
                            <div class="ci-text">
                                Ramos Arizpe, COA MX
                            </div>
                        </div>
                        <!-- End Address -->
                    </div>
                    <div class="col-sm-4">
                        <!-- Email -->
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Email
                            </div>
                            <div class="ci-text">
                                <a href="mailto:fidel.hdz@me.com">fidel.hdz@me.com</a>
                            </div>
                        </div>
                        <!-- End Email -->
                    </div>

                    <hr class="mb-30"/>
                </div>
                
            </div>
            
        </div>
        
    </div>
</section>
<!-- End Contact Section -->